<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
　　　　<title>ログイン</title>
</head>

<body>
　　　　<h1>管理者ログイン</h1>

    　　<p th:if="${param.error}" style="color:red;">メールアドレスかパスワードが正しくありません。</p>
    　　<p th:if="${param.logout}" style="color:blue;">ログアウトしました。</p>

    　  <form th:action="@{/admin/signin}" method="post">
        <div>メールアドレス：<input type="email" name="email" required></div>
        <div> パスワード：<input type="password" name="password" required></div>
        <button type="submit">ログイン</button>
        </form>

    <hr>
    <a th:href="@{/admin/signup}">新規登録はこちら</a>
</body>
</html>